<div class="container-fluid">
    <div class="row split left">
        <div class="col-12 text-center">
            <h1 class="display-4">GatheringPoint</h1>
            <p class="lead">Connect with friends and share your thoughts.</p>
            <a href="#" class="btn btn-primary btn-lg">Log in</a>
        </div>
    </div>

    <div class="row split right">
        <h2>Register</h2>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
            </div>
            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="pswd">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
